.auditory {
    position: relative;
    background: rgba(#0e283e, 1);
    background: -webkit-linear-gradient(top, rgba(#10263a, 1) 0%, rgba(#0e283e, 1) 100%);
    background: -o-linear-gradient(top, rgba(#10263a, 1) 0%, rgba(#0e283e, 1) 100%);
    background: linear-gradient(to bottom, rgba(#10263a, 1) 0%, rgba(#0e283e, 1) 100%);

    &::before {
        position: absolute;
        top: 50px;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-image: url('/assets/i/auditory-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
    }

    &-wrap {
        font-family: 'Montserrat';
        position: relative;
        width: 1180px;
        max-width: 100%;
        margin: 0 auto;
        color: #fff;
        @include media(0px, 1200px) {
            padding-right: 20px;
            padding-left: 20px;
        }
    }

    h2 {
        font-size: 42px;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 80px;
        text-align: center;

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
        @include media(640px, 980px) {
            display: block;
            padding: 0 60px;
        }
        @include media(0px, 640px) {
            display: block;
            padding: 0;
        }
    }

    &-item {
        display: flex;
        width: calc(50% - 60px);
        padding-bottom: 120px;
        align-items: flex-start;
        @include media(0px, 980px) {
            width: 100%;
            padding-bottom: 80px;
        }

        @include media(0px, 640px) {
            display: block;
            padding-bottom: 50px;
        }

        &:hover img {
            opacity: 1;
        }

        img {
            margin-right: 20px;
            transition: 0.3s;
            opacity: 0.6;
            @include media(0px, 640px) {
                display: block;
                margin: 0 auto;
            }
        }

        &__desc {
            h3 {
                font-size: 24px;
                position: relative;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-bottom: 15px;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 35px;
                    content: '';
                    border-bottom: 2px solid #fff;
                }
            }

            span {
                font-family: 'Exo 2';
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
