.auditory {
    font-family: 'Montserrat';
    width: 1180px;
    margin: 0 auto;
    color: #fff;

    h2 {
        font-size: 42px;
        font-weight: 300;
        margin-bottom: 80px;
        text-align: center;

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-item {
        display: flex;
        width: calc(50% - 60px);
        margin-bottom: 120px;
        align-items: flex-start;

        img {
            margin-right: 20px;
        }

        &__desc {
            h3 {
                font-size: 24px;
                position: relative;
                margin-top: 15px;
                margin-bottom: 15px;
                padding-bottom: 15px;

                &::after {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: block;
                    width: 35px;
                    content: '';
                    border-bottom: 2px solid #fff;
                }
            }

            span {
                font-family: 'Exo 2';
                font-size: 14px;
                line-height: 20px;
            }
        }
    }
}
