.blog {
    position: relative;
    padding-bottom: 160px;
    background: rgba(#151f2b, 1);
    background: -webkit-linear-gradient(top, rgba(#122334, 1) 0%, rgba(#151f2b, 1) 100%);
    background: -o-linear-gradient(top, rgba(#122334, 1) 0%, rgba(#151f2b, 1) 100%);
    background: linear-gradient(to bottom, rgba(#122334, 1) 0%, rgba(#151f2b, 1) 100%);

    h2 {
        font-size: 36px;
        color: #fff;
        margin-bottom: 60px;
        margin-top: 0;
        font-family: 'Montserrat';
        text-align: center;
    }

    &-slide {
        color: #fff;
        font-family: 'Exo 2';

        &__overlay {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
        }

        &__date {
            width: 100%;
            margin-bottom: 15px;
            font-size: 16px;
            @include media(0px, 640px){
                font-size: 14px;
            }
        }

        &__image {
            width: 100%;
            height: 350px;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 15px;
            position: relative;

            @include media(980px, 1200px){
                height: 300px;
            }

            @include media(640px, 980px){
                height: 200px;
            }

            @include media(0px, 640px){
                height: 100px;
            }

            &::after {
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
                left: 0;
                content: '';
                display: block;
                opacity: 1;
                transition: 0.3s;
                background: rgba(0,0,0,0.5);
            }

            &:hover::after{
                opacity: 0;
            }
        }

        &__title {
            font-size: 24px;
            @include media(0px, 640px){
                font-size: 18px;
            }
        }
    }
}
