.capabilities {
    position: relative;
    background: rgba(#10263a, 1);
    background: -webkit-linear-gradient(top, rgba(#152333, 1) 0%, rgba(#10263a, 1) 100%);
    background: -o-linear-gradient(top, rgba(#152333, 1) 0%, rgba(#10263a, 1) 100%);
    background: linear-gradient(to bottom, rgba(#152333, 1) 0%, rgba(#10263a, 1) 100%);

    &-wrap {
        width: 908px;
        margin: 0 auto;
    }

    h2 {
        font-size: 42px;
        font-weight: 400;
        margin-top: 0;
        margin-bottom: 100px;
        text-align: center;
        color: #fff;

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        margin-bottom: 80px;
        justify-content: space-between;
    }

    &-item {
        font-family: 'Montserrat';
        position: relative;
        width: 220px;
        height: 230px;
        padding: 20px 0;
        transition: 0.2s;
        color: #fff;
        border-radius: 3px;
        background: #0a1e2e;
        background: #40acff;

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            transition: 0.2s;
            opacity: 0;
            box-shadow: 0 0 18px 2px rgba(64,172,255,.5);
        }

        &__active {
            display: none;
            overflow: hidden;
            white-space: nowrap;
        }

        &:hover &__default {
            display: none;
        }

        &:hover &__active {
            display: block;
        }

        h3 {
            font-size: 24px;
            height: 44px;
            margin-top: 5px;
            text-align: center;
            text-transform: uppercase;
        }

        h4 {
            font-family: 'Exo 2';
            font-size: 14px;
            font-weight: 700;
            margin-top: 0;
            margin-bottom: 20px;
            text-align: center;
            text-transform: uppercase;
        }

        span {
            font-size: 13px;
            display: block;
            text-align: center;
        }

        img {
            display: block;
            height: 92px;
            margin: 0 auto;
        }

        &:hover {
            width: 430px;

            &::before {
                opacity: 1;
            }

            h3 {
                height: auto;
                margin-bottom: 10px;
            }
        }

        ul {
            font-family: 'Exo 2';
            font-size: 14px;
            line-height: 17px;
            right: 0;
            padding: 0;
            list-style: none;
            text-align: center;
        }
    }
}
