.capabilities{
    width: 908px;
    margin: 0 auto;
    h2{
        text-align: center;
        font-size: 42px;
        font-weight: 400;
        margin-bottom: 100px;
        color: #fff;
        span{
            font-weight: 700;
        }
    }
    &-items{
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
    &-item{
        border-radius: 3px;
        position: relative;
        color: #fff;
        font-family: 'Montserrat';
        padding: 20px 0;
        width: 220px;
        height: 230px;
        background: #0A1E2E;
        transition: 0.2s;
        background: #40ACFF;
        &::before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            display: block;
            box-shadow: 0 0 18px 2px rgba(64,172,255,.5);
            opacity: 0;
            transition: 0.2s;
        }
        &__active{
            display: none;
            white-space: nowrap;
            overflow: hidden;
        }

        &:hover &__default{
            display: none;
        }
        &:hover &__active{
            display: block;
        }

        h3{
            font-size: 24px;
            margin-top: 5px;
            text-align: center;
            height: 44px;
            text-transform: uppercase;
        }
        h4{
            font-family: 'Exo 2';
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 0;
        }
        span{
            display: block;
            text-align: center;
            font-size: 13px;
        }
        img{
            display: block;

            margin: 0 auto;
            height: 92px;
        }
        &:hover{
            width: 430px;
            &::before{
                opacity: 1;
            }
            h3{
                height: auto;
                margin-bottom: 10px;
            }
        }
        ul{
            font-size: 14px;
            line-height: 17px;
            font-family: 'Exo 2';
            list-style: none;
            padding: 0;
            right: 0;
            text-align: center;
        }
    }
}
