.distribution {
    position: relative;
    background: rgba(#14202e, 1);
    background: -webkit-linear-gradient(top, rgba(#14202e, 1) 0%, rgba(#161e2a, 1) 50%);
    background: -o-linear-gradient(top, rgba(#14202e, 1) 0%, rgba(#161e2a, 1) 50%);
    background: linear-gradient(to bottom, rgba(#14202e, 1) 0%, rgba(#161e2a, 1) 50%);

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -334px;
        height: 1300px;
        left: 0;
        right: 0;
        background-image: url('/assets/i/distribution-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 150%;
        @include media(0px, 1200px){
            height: 1800px;
        }
    }

    &-wrap{
        position: relative;
        width: 885px;
        margin: 0 auto;
        color: #fff;
        padding-bottom: 300px;
        max-width: 100%;

        @include media(0px, 1200px){
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 136px;
        }
    }

    h2 {
        font-size: 36px;
        font-weight: 300;
        margin-bottom: 150px;
        text-align: center;
        margin-top: 0;

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        justify-content: space-between;
        @include media(0px, 1200px){
            display: block;
        }
    }

    &-item {
        position: relative;
        display: flex;
        width: 330px;
        height: 330px;
        align-items: center;
        justify-content: center;

        @include media(0px, 1200px){
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 150px;
        }

        @include media(0px, 640px){
            width: 235px;
            height: 235px;
        }

        h3 {
            font-size: 24px;
            text-align: center;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }

        &__info {
            position: absolute;

            h4 {
                font-size: 24px;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 5px;
                color: #2d9cdb;
            }

            span {
                font-size: 14px;
                font-weight: 300;
                white-space: nowrap;
                @include media(0px, 640px){
                    white-space: normal;
                }
            }

            &--bounty {
                top: -75px;
                left: 149px;
                text-align: left;
                @include media(0px, 640px){
                    top: -70px;
                    left: 110px;
                }
            }

            &--consult {
                top: -55px;
                left: 5px;
                text-align: right;
                @include media(0px, 640px){
                    top: -87px;
                    left: -6px;
                }
            }

            &--fund {
                top: 61px;
                left: -148px;
                text-align: right;
                @include media(0px, 640px){
                    top: -33px;
                    left: -69px;
                    width: 100px;
                }
            }

            &--command {
                top: 203px;
                left: -158px;
                text-align: right;
                top: 161px;
                @include media(0px, 640px){
                    left: -83px;
                    text-align: right;
                    width: 100px;
                }
            }

            &--selling {
                top: 258px;
                left: 334px;
                text-align: left;
                @include media(0px, 640px){
                    top: 221px;
                    left: 178px;
                }
            }

            &--legal {
                top: -75px;
                left: -46px;
                text-align: right;
            }

            &--develop {
                top: 127px;
                left: -108px;
                text-align: right;
                @include media(0px, 640px){
                    top: 192px;
                    left: -52px;
                }
            }

            &--admin {
                top: 352px;
                left: -112px;
                text-align: right;
                @include media(0px, 640px){
                    top: 240px;
                    left: -61px;
                    text-align: right;
                    width: 161px;
                }


            }

            &--pr {
                top: 352px;
                left: 222px;
                text-align: left;
                top: 241px;
                @include media(0px, 640px){
                    left: 150px;
                    text-align: left;
                }
            }

            &--marketing {
                top: 216px;
                left: 360px;
                text-align: left;
                @include media(0px, 640px){
                    top: -23px;
                    left: 211px;
                }
            }
        }
    }
}
