.ecosystem {
    position: relative;
    background: rgba(#161c27, 1);
    background: -webkit-linear-gradient(top, rgba(#161c27, 1) 0%, rgba(#152333, 1) 100%);
    background: -o-linear-gradient(top, rgba(#161c27, 1) 0%, rgba(#152333, 1) 100%);
    background: linear-gradient(to bottom, rgba(#161c27, 1) 0%, rgba(#152333, 1) 100%);

    &::before {
        position: absolute;
        top: 125px;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-image: url('/assets/i/ecosystem-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 225%;
    }

    &-wrap {
        position: relative;
        display: flex;
        width: 1200px;
        max-width: 100%;
        margin: 0 auto;
        padding-top: 50px;
        padding-bottom: 150px;
        color: #fff;
        align-items: flex-start;
        @include media(0px, 1200px) {
            padding-right: 20px;
            padding-left: 20px;
        }
        @include media(0px, 980px) {
            display: block;
        }
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 300;
        position: relative;
        margin-top: 0;
        margin-bottom: 15px;
        padding-bottom: 15px;

        span {
            font-weight: 700;
        }

        &::after {
            position: absolute;
            bottom: 0;
            display: block;
            width: 35px;
            height: 0;
            content: '';
            border-top: 2px solid #fff;
        }
    }

    h3 {
        font-family: 'Exo 2';
        font-size: 14px;
        font-weight: 300;
        line-height: 19px;
    }

    &-block {
        &--left {
            width: 60%;
            @include media(0px, 980px) {
                width: 100%;
            }
        }

        &--right {
            display: flex;
            width: 40%;
            align-items: center;
            justify-content: center;
            @include media(0px, 980px) {
                width: 100%;
            }
        }
    }

    &-items {
        padding-top: 60px;
    }

    &-scheme {
        position: relative;
        width: 255px;
        height: 687px;
        background-image: url('/assets/i/ecosystem-scheme.png');

        &__light {
            position: absolute;
            top: 0;
            left: 0;
            width: 1px;
            height: 1px;
            transition: 0.2s;
            animation-timing-function: linear!important;
            background: rgba(255,255,255,.2);
            box-shadow: 0 0 26px 7px #fff;

            &--1 {
                animation: light1 5s infinite;
            }

            &--2 {
                animation: light2 5s infinite;
            }

            &--3 {
                animation: light3 3s infinite;
            }

            &--4 {
                animation: light4 3s infinite;
            }
        }
    }

    a {
        font-weight: 500;
        text-decoration: none;
        color: #40acff;
        border-bottom: 1px dashed #40acff;
    }

    &-item {
        font-family: 'Exo 2';
        font-size: 14px;
        min-height: 170px;
        margin-bottom: 50px;
        padding-left: 200px;
        @include media(0px, 980px) {
            margin-bottom: 80px;
        }
        @include media(0px, 640px) {
            padding-top: 180px;
            padding-left: 0;
        }

        &--clickcoin {
            background-image: url('/assets/i/ecosystem-clickcoin.png');
            background-repeat: no-repeat;
            background-position: left top;
        }

        &--token {
            background-image: url('/assets/i/ecosystem-token.png');
            background-repeat: no-repeat;
            background-position: left top;
        }

        &__title {
            font-size: 36px;
            font-weight: 700;
            position: relative;
            margin-bottom: 15px;
            padding-bottom: 15px;

            span{
                font-weight: 100;
            }

            &::after {
                position: absolute;
                bottom: 0;
                display: block;
                width: 35px;
                height: 0;
                content: '';
                border-top: 2px solid #fff;
            }
        }

        p {
            line-height: 19px;
            margin: 0;
        }

        ul {
            margin: 0;
            padding: 20px 15px;
            list-style: none;
        }

        li {
            line-height: 19px;
            margin: 0;
            padding: 0;

            i {
                margin-right: 15px;
            }
        }
    }
}
@keyframes light1 {
    0% {
        transform: translate(191px, 215px);
        opacity: 0;
    }

    5% {
        transform: translate(191px, 215px);
        opacity: 1;
    }

    80% {
        transform: translate(191px, 86px);
        opacity: 1;
    }

    84% {
        transform: translate(188px, 76px);
        opacity: 1;
    }

    88% {
        transform: translate(184px, 70px);
        opacity: 1;
    }

    92% {
        transform: translate(179px, 66px);
        opacity: 1;
    }

    96% {
        transform: translate(171px, 64px);
        opacity: 1;
    }

    100% {
        transform: translate(171px, 64px);
        opacity: 0;
    }
}
@keyframes light2 {
    0% {
        transform: translate(85px, 67px);
        opacity: 0;
    }

    4% {
        transform: translate(85px, 67px);
        opacity: 1;
    }

    8% {
        transform: translate(76px, 69px);
        opacity: 1;
    }

    12% {
        transform: translate(69px, 71px);
        opacity: 1;
    }

    16% {
        transform: translate(65px, 76px);
        opacity: 1;
    }

    20% {
        transform: translate(62px, 86px);
        opacity: 1;
    }

    95% {
        transform: translate(62px, 214px);
        opacity: 1;
    }

    100% {
        transform: translate(62px, 214px);
        opacity: 0;
    }
}
@keyframes light3 {
    0% {
        transform: translate(62px, 372px);
        opacity: 0;
    }

    4% {
        transform: translate(62px, 372px);
        opacity: 1;
    }

    95% {
        transform: translate(62px, 453px);
        opacity: 1;
    }

    100% {
        transform: translate(62px, 453px);
        opacity: 0;
    }
}
@keyframes light4 {
    0% {
        transform: translate(193px, 453px);
        opacity: 0;
    }

    4% {
        transform: translate(193px, 453px);
        opacity: 1;
    }

    95% {
        transform: translate(193px, 372px);
        opacity: 1;
    }

    100% {
        transform: translate(193px, 372px);
        opacity: 0;
    }
}
