.faq {
    position: relative;
    padding-top: 200px;
    background: rgba(#122334, 1);
    background: -webkit-linear-gradient(top, rgba(#0e2940, 1) 0%, rgba(#122334, 1) 100%);
    background: -o-linear-gradient(top, rgba(#0e2940, 1) 0%, rgba(#122334, 1) 100%);
    background: linear-gradient(to bottom, rgba(#0e2940, 1) 0%, rgba(#122334, 1) 100%);
    padding-bottom: 160px;

    &-wrap{
        width: 1240px;
        margin: 0 auto;
        max-width: 100%;
        padding: 0 20px;
        @include media(640px, 980px){
            padding: 0 100px;
        }
        @include media(0px, 640px){
            padding: 0 20px;
        }
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 120px;
        color: #fff;
    }

    &-items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &-item {
        font-family: 'Exo 2';
        position: relative;
        width: calc((100% - 120px)/2);
        margin-bottom: 30px;
        padding: 15px 20px;
        cursor: pointer;
        border-radius: 3px;
        background: #0a1e2e;

        @include media(0px, 980px){
            width: 100%;
        }

        &:first-child {
            margin-right: 50%;
            @include media(0px, 980px){
                margin-right: 0;
            }
        }

        h3 {
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            margin: 0;
            color: #fff;
        }

        span {
            font-size: 14px;
            display: none;
            margin-top: 20px;
            color: #828282;
        }

        i {
            font-size: 30px;
            position: absolute;
            top: 50%;
            right: 15px;
            transform: translateY(-50%);
            color: #fff;
        }

        &--opened {
            span {
                display: block;
            }

            i {
                top: 10px;
                transform: rotate(90deg);
            }
        }
    }
}
