.feedback {
    position: relative;
    padding-top: 300px;
    padding-bottom: 40px;
    background: rgba(#0f263a, 1);
    background: -webkit-linear-gradient(top, rgba(#161d28, 1) 0%, rgba(#171b24, 1) 100%);
    background: -o-linear-gradient(top, rgba(#161d28, 1) 0%, rgba(#171b24, 1) 100%);
    background: linear-gradient(to bottom, rgba(#161d28, 1) 0%, rgba(#171b24, 1) 100%);

    &::before {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        height: 180px;
        content: '';
        background: #0b2032;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 700;
        margin: 0 0 10px;
        text-align: center;
        color: #fff;
    }

    h3 {
        font-family: 'Montserrat';
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 40px;
        text-align: center;
        color: #fff;
    }

    form {
        font-family: 'Exo 2';
        position: relative;
        display: flex;
        width: 786px;
        max-width: calc(100% - 40px);
        margin: 0 auto;
        padding: 30px 66px;
        border-radius: 3px;
        background: rgba(13,42,67,1);
        background: -webkit-linear-gradient(left, rgba(13,42,67,1) 0%, rgba(20,34,49,1) 100%);
        background: -o-linear-gradient(left, rgba(13,42,67,1) 0%, rgba(20,34,49,1) 100%);
        background: linear-gradient(to right, rgba(13,42,67,1) 0%, rgba(20,34,49,1) 100%);
        flex-wrap: wrap;
        justify-content: center;
        @include media(0px, 640px) {
            padding: 30px 15px;
        }

        &::before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: block;
            content: '';
            background-image: url('/assets/i/feedback-polygon.png');
            background-repeat: no-repeat;
            background-position: left bottom;
        }
    }

    input {
        font-size: 14px;
        position: relative;
        display: block;
        width: calc((100% - 65px) / 2);
        margin-bottom: 25px;
        padding: 10px 0;
        color: #fff;
        border: none;
        border-bottom: 2px #fff solid;
        background: transparent;

        &:first-child {
            margin-right: 65px;
        }

        &::placeholder {
            color: rgba(255, 255, 255, .3);
        }
    }

    &-message {
        width: 100%!important;
    }

    textarea {
        font-size: 14px;
        position: relative;
        display: block;
        width: 100%;
        height: 80px;
        margin-bottom: 30px;
        padding: 10px 0;
        resize: none;
        color: #fff;
        border: none;
        border-bottom: 2px #fff solid;
        background: transparent;

        &::placeholder {
            color: rgba(255, 255, 255, .3);
        }
    }

    button {
        font-size: 16px;
        font-weight: 300;
        line-height: 40px;
        position: relative;
        width: 200px;
        height: 45px;
        cursor: pointer;
        transition: 0.3s;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        border: none;
        border: 2px solid #fff;
        border-radius: 100px;
        background: transparent;

        &:hover {
            color: #0d2530;
            background: #fff;
        }
    }
}
