.footer {
    width: 610px;
    max-width: 100%;
    margin: 0 auto 75px;
    padding-top: 135px;
    padding-right: 20px;
    padding-left: 20px;
    @include media(0px, 640px) {
        padding-top: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }

    &__section {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        justify-content: space-between;
        @include media(0px, 640px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__logo {
        width: 162px;
        @include media(0px, 640px) {
            margin-bottom: 30px;
        }
    }

    &__connect {
        @include media(0px, 640px) {
            display: none;
        }
    }

    &__copyright {
        @include media(0px, 640px) {
            display: block;
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    &-menu {
        display: flex;
        @include media(0px, 640px) {
            width: 100%;
            justify-content: center;
        }

        &__item {
            font-size: 14px;
            margin: 0 5px;
            white-space: nowrap;
            text-decoration: none;
            color: #fff;
            @include media(0px, 640px) {
                font-size: 12px;
            }

            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }

    &-social {
        display: flex;

        &__item {
            display: block;
            width: 15px;
            height: 15px;
            margin-left: 30px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            $icons: 'telegram', 'twitter', 'facebook', 'discord', 'funnyface', 'linkedin', 'bitcoin', 'socialm';
            @include media(0px, 640px) {
                margin-right: 15px;
                margin-left: 15px;
            }
            @each $icon in $icons {
                &--#{$icon} {
                    background-image: url('/assets/i/icon/#{$icon}.png');

                    &:hover {
                        background-image: url('/assets/i/icon/#{$icon}-hover.png');
                    }
                }
            }
        }
    }

    span {
        font-family: 'Exo 2';
        font-size: 14px;
        color: #fff;
    }
}
