.footer {
    position: relative;
    background: rgba(#191c24, 1);
    background: -webkit-linear-gradient(top, rgba(#171b24, 1) 0%, rgba(#191c24, 1) 100%);
    background: -o-linear-gradient(top, rgba(#171b24, 1) 0%, rgba(#191c24, 1) 100%);
    background: linear-gradient(to bottom, rgba(#171b24, 1) 0%, rgba(#191c24, 1) 100%);

    &::before {
        position: absolute;
        top: -123px;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background-image: url('/assets/i/footer-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        @include media(640px, 980px) {
            top: -143px;
        }
        @include media(0px, 640px) {
            top: -123px;
        }
    }

    &-wrap {
        position: relative;
        width: 610px;
        max-width: 100%;
        margin: 0 auto;
        padding: 135px 20px 75px;
        @include media(0px, 640px) {
            padding: 50px 10px 75px;
        }
    }

    .header-select__items {
        left: -40px;
    }

    &__section {
        display: flex;
        margin-bottom: 40px;
        align-items: center;
        justify-content: space-between;
        @include media(0px, 640px) {
            justify-content: center;
            flex-wrap: wrap;
        }
    }

    &__logo {
        width: 162px;
        @include media(0px, 640px) {
            margin-bottom: 30px;
        }
    }

    &__connect {
        @include media(0px, 640px) {
            display: none;
        }
    }

    &__copyright {
        @include media(0px, 640px) {
            display: block;
            width: 100%;
            margin-bottom: 30px;
            text-align: center;
        }
    }

    &-menu {
        display: flex;
        @include media(0px, 640px) {
            width: 100%;
            justify-content: center;
        }

        &__item {
            font-size: 14px;
            margin: 0 5px;
            white-space: nowrap;
            text-decoration: none;
            color: #fff;
            @include media(0px, 640px) {
                font-size: 12px;
            }

            &:hover {
                border-bottom: 1px solid #fff;
            }
        }
    }

    &-social {
        display: flex;

        &__item {
            display: block;
            width: 15px;
            height: 15px;
            margin-left: 30px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            $icons: 'telegram', 'twitter', 'facebook', 'discord', 'funnyface', 'linkedin', 'bitcoin', 'socialm';
            @include media(0px, 640px) {
                margin-right: 15px;
                margin-left: 15px;
            }
            @each $icon in $icons {
                &--#{$icon} {
                    background-image: url('/assets/i/icon/#{$icon}.png');

                    &:hover {
                        background-image: url('/assets/i/icon/#{$icon}-hover.png');
                    }
                }
            }
        }
    }

    span {
        font-family: 'Exo 2';
        font-size: 14px;
        color: #fff;
    }
}
