.header {
    font-family: 'Exo 2';
    position: relative;
    z-index: 50;
    width: 100%;
    background: #083862;

    &__wrap {
        display: flex;
        width: 1240px;
        max-width: 100%;
        height: 60px;
        margin: 0 auto;
        padding: 0 20px;
        align-items: center;
        justify-content: space-between;
    }

    &__logo {
        width: 149px;
        height: 38px;
        @include media(0px, 640px) {
            width: 120px;
            height: 30px;
        }
    }

    &-select {
        position: relative;
        display: flex;
        align-items: center;

        &__icon {
            width: 18px;
            height: 7px;
            margin-left: 5px;
            background: url('/assets/i/icon/new-era-scrolldown.png') no-repeat center;
            background-size: contain!important;
        }

        &--active &__items {
            display: flex;
        }

        &__items {
            position: absolute;
            z-index: 10;
            top: 50px;
            left: -5px;
            display: none;
            flex-direction: column;
            width: 105px;
            padding-top: 15px;
            text-align: center;
            border-radius: 4px;
            background: #0a3960;
            align-items: center;

            &::before {
                position: absolute;
                top: -7px;
                left: 50%;
                display: block;
                width: 15px;
                height: 15px;
                content: '';
                transform: translateX(-50%) rotate(45deg);
                background: #0a3960;
            }
        }

        &__item {
            margin: 0 auto 15px;
            padding-bottom: 3px;
            cursor: pointer;

            &--active,
            :hover {
                border-bottom: 1px solid #fff;
            }
        }
    }

    &-menu {
        display: flex;
        @include media(0px, 980px) {
            display: none;
        }

        &__item {
            font-size: 14px;
            margin: 0 5px;
            text-decoration: none;
            color: #fff;

            &:hover {
                border-bottom: 1px dashed #fff;
            }
        }
    }

    &-menu-mobile {
        position: absolute;
        z-index: 20;
        top: 0;
        right: 0;
        display: none;
        overflow-y: auto;
        flex-direction: column;
        width: 350px;
        max-width: 100%;
        max-height: 100vh;
        padding: 100px 0;
        background: rgba(#083861, .9);
        align-items: center;
        @include media(0px, 980px) {
            &--active {
                display: flex;
            }
        }

        &__close {
            position: absolute;
            top: 20px;
            right: 20px;
            width: 14px;
            height: 14px;
            background: url('/assets/i/icon/close.png') no-repeat center;
            background-size: contain!important;
        }

        &__item {
            font-family: 'Exo 2';
            font-size: 24px;
            font-weight: 300;
            display: flex;
            margin-bottom: 60px;
            cursor: pointer;
            text-decoration: none;
            color: #fff;
        }

        &__social {
            margin-bottom: 20px;

            a {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
                margin-left: 10px;
                cursor: pointer;
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                $icons: 'telegram', 'twitter', 'facebook', 'discord', 'funnyface', 'linkedin', 'bitcoin', 'socialm';
                @each $icon in $icons {
                    &--#{$icon} {
                        background-image: url('/assets/i/icon/#{$icon}.png');

                        &:hover {
                            background-image: url('/assets/i/icon/#{$icon}-hover.png');
                        }
                    }
                }
            }
        }

        .header-select__icon {
            margin-top: 5px;
        }
    }

    &-burger {
        display: none;
        width: 40px;
        height: 40px;
        margin-left: 15%;
        cursor: pointer;
        background: url('/assets/i/burger.png') no-repeat center;
        @include media(0px, 980px) {
            display: block;
        }
    }

    &-social {
        display: flex;

        &__item {
            display: block;
            width: 13px;
            height: 13px;
            margin-left: 15px;
            cursor: pointer;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            $icons: 'telegram', 'twitter', 'facebook', 'discord', 'funnyface', 'linkedin', 'bitcoin', 'socialm';
            @each $icon in $icons {
                &--#{$icon} {
                    background-image: url('/assets/i/icon/#{$icon}.png');

                    &:hover {
                        background-image: url('/assets/i/icon/#{$icon}-hover.png');
                    }
                }
            }
        }
    }
}
