.partners {
    position: relative;

    @include media(1200px) {
        margin-top: -50px;
    }

    &-parallax {
        position: absolute;
        z-index: 2;
        top: 120px;
        bottom: 120px;
        left: -10%;
        overflow: hidden;
        width: 120%;
        transform: rotate(7deg);
        background: #0d1a27;
        box-shadow: inset 0 0 100px 2px rgba(0,0,0,.75);

        @include media(1200px) {
            transform: rotate(5deg);
            top: 220px;
            bottom: 220px;
        }

        @include media(0px, 640px) {
            top: 70px;
            bottom: 70px;
        }

        &-wrap {
            position: absolute;
            top: -209px;
            bottom: -281px;
            overflow: hidden;
            width: 100%;
            @include media(1200px) {
                top: -309px;
                bottom: -381px;
            }
            @include media(0px, 640px) {
                top: -150px;
                bottom: -150px;
            }
        }

        &__bg {
            width: 100%;
            height: 150%;
            background: url('/assets/i/partners-parallax.png') center no-repeat;
            background-size: 1900px 650px;
            @include media(1900px) {
                background-size: 2900px 650px;
            }
            @include media(640px, 980px) {
                height: 100%;
                background-size: 1200px 500px;
            }
            @include media(0px, 640px) {
                height: 100%;
                background-size: 1200px 500px;
                transition: 0.1s;
            }
        }
    }

    &-wrap {
        position: relative;
        z-index: 3;
        width: 1174px;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 300;
        line-height: 36px;
        margin-top: 0;
        margin-bottom: 100px;
        text-align: center;
        color: #fff;
        @include media(0px, 980px) {
            margin-bottom: 60px;
        }

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        @include media(0px, 640px) {
            flex-wrap: wrap;
        }
    }

    &-item {
        display: flex;
        width: calc((100% - 66px * 3) / 4);
        height: 120px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        @include media(640px, 980px) {
            width: 23%;
        }
        @include media(0px, 640px) {
            width: 44%;
            margin-bottom: 30px;
        }

        img {
            width: 100%;
        }
    }
}
