.request {
    z-index: 2;
    position: relative;
    background: rgba(#0f263a, 1);
    background: -webkit-linear-gradient(top, rgba(#0e2841, 1) 0%, rgba(#0f263a, 1) 100%);
    background: -o-linear-gradient(top, rgba(#0e2841, 1) 0%, rgba(#0f263a, 1) 100%);
    background: linear-gradient(to bottom, rgba(#0e2841, 1) 0%, rgba(#0f263a, 1) 100%);
    color: #fff;
    font-family: 'Montserrat';
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;


    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0px;
        bottom: -130px;
        left: 0;
        right: 0;
        background-image: url('/assets/i/request-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;

        @include media(640px, 980px){
            background-image: url('/assets/i/request-bg-640.png');
            bottom: -60px;
        }
        @include media(0px, 640px){
            background-image: url('/assets/i/request-bg-350.png');
            bottom: -60px;
        }
    }

    &-wrap{
        position: relative;
        @include media(0px, 640px){
            padding: 0 20px;
        }
    }

    h2 {
        font-size: 36px;
        margin: 0 0 20px;

        span {
            font-weight: 700;
        }
    }

    h3 {
        font-size: 24px;
        margin: 0 0 45px;
        font-weight: 300;
    }

    &-form {
        margin: 0 auto;
        width: 546px;
        border-radius: 100px;
        border: 2px solid #ccc;
        height: 45px;
        display: flex;
        justify-content: space-between;
        max-width: 100%;

        input {
            font-size: 14px;
            font-family: 'Exo 2';
            border: none;
            background: transparent;
            height: 100%;
            line-height: 43px;
            padding: 0 40px;
            color: #fff;
            width: 60%;
            display: block;
            &::placeholder{
                color: rgba(#fff, 0.5);
            }
            @include media(0px, 640px){
                width: 80%;
                padding: 0 20px;
            }
        }

        button {
            font-size: 16px;
            text-transform: uppercase;
            font-family: 'Roboto';
            border: none;
            height: 100%;
            line-height: 43px;
            padding: 0 40px;
            color: #fff;
            background: transparent;
            cursor: pointer;
            @include media(0px, 640px){
                padding: 0 20px;
            }
        }
    }
    &-button{
        font-family: 'Exo 2';
        font-size: 16px;
        line-height: 39px;
        width: 200px;
        height: 45px;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        border: 2px solid #40acff;
        border-radius: 100px;
        background: #40acff;
        margin: 0 auto;
        text-decoration: none;
    }
}
