.solution {
    position: relative;
    background: rgba(#112337, 1);
    background: -webkit-linear-gradient(top, rgba(#112337, 1) 0%, rgba(#161c27, 1) 100%);
    background: -o-linear-gradient(top, rgba(#112337, 1) 0%, rgba(#161c27, 1) 100%);
    background: linear-gradient(to bottom, rgba(#112337, 1) 0%, rgba(#161c27, 1) 100%);

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: -150px;
        bottom: 0;
        left: 0;
        right: 0;
        background-image: url('/assets/i/solution-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        @include media(640px, 980px){
            background-image: url('/assets/i/solution-bg-640.png');
            top: 66px;
        }
        @include media(0px, 640px){
            top: 112px;
            background-image: url('/assets/i/solution-bg-350.png');
        }
    }

    &-wrap {
        position: relative;
        margin: 0 auto;
        width: 1200px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 300px;
        max-width: 100%;

        @include media(0px, 1200px){
            padding-left: 20px;
            padding-right: 20px;
        }
        @include media(0px, 980px){
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;
        }
        @include media(0px, 640px){
            padding-bottom: 150px;
        }
    }

    &-cube{
        background-image: url('/assets/i/solution-cube.png');
        background-repeat: no-repeat;
        background-position: center -14px;
        width: 320px;
        height: 390px;
        transform: translate(-78px, -84px);
        @include media(640px, 980px){
            transform: translate(0, 0);
        }
        @include media(0, 640px){
            transform: translate(0,0) scale(0.65);
        }

    }

    &-block{
        &:first-child{
            @include media(0px, 980px){
                width: 100%;
            }
        }
        &:last-child{
            @include media(0px, 640px){
                height: 315px;
            }
        }
    }

    h2 {
        font-size: 36px;
        color: #fff;
        font-weight: 700;
        position: relative;
        margin-bottom: 20px;
        padding-bottom: 20px;

        &::after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            width: 35px;
            height: 0;
            border-bottom: 2px solid #ccc;
        }
    }

    p {
        font-size: 14px;
        font-family: 'Exo 2';
        color: #fff;
        display: block;
        width: 625px;
        line-height: 20px;
        max-width: 100%;
    }

    ul {
        list-style: none;
        margin: 25px 15px;
        padding: 0;
    }

    li {
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        font-family: 'Exo 2';

        i {
            margin-right: 15px;
        }
    }

    a{
        color: #40ACFF;
        border-bottom: 1px dashed #40ACFF;
        text-decoration: none;
        font-weight: 500;
    }

    img {
        transform: translate(42px, -89px);
    }
}
