.subscribe {
    font-family: 'Montserrat';
    position: relative;
    z-index: 2;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
    color: #fff;
    background: rgba(#0f263a, 1);
    background: -webkit-linear-gradient(top, rgba(#0e2841, 1) 0%, rgba(#0f263a, 1) 100%);
    background: -o-linear-gradient(top, rgba(#0e2841, 1) 0%, rgba(#0f263a, 1) 100%);
    background: linear-gradient(to bottom, rgba(#0e2841, 1) 0%, rgba(#0f263a, 1) 100%);

    &::before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: -130px;
        left: 0;
        display: block;
        content: '';
        background-image: url('/assets/i/request-bg.png');
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 100% 100%;
        @include media(640px, 980px) {
            bottom: -60px;
            background-image: url('/assets/i/request-bg-640.png');
        }
        @include media(0px, 640px) {
            bottom: -60px;
            background-image: url('/assets/i/request-bg-350.png');
        }
    }

    &-wrap {
        position: relative;
        @include media(0px, 640px) {
            padding: 0 20px;
        }
    }

    h2 {
        font-size: 36px;
        font-weight: 100;
        margin: 0;

        span {
            font-weight: 700;
        }
    }

    h3 {
        font-size: 24px;
        font-weight: 300;
        margin: 0 0 45px;
    }

    &-form {
        display: flex;
        width: 546px;
        max-width: 100%;
        height: 45px;
        margin: 0 auto;
        transition: 0.4s;
        border: 2px solid #ccc;
        border-radius: 100px;
        background: transparent;
        justify-content: space-between;

        &--done {
            width: 368px;
            border: 2px solid #fff;
            background: #fff;
            align-items: center;
            justify-content: center;

            span {
                display: block!important;
            }

            button,
            input {
                display: none!important;
            }
        }

        span {
            font-size: 24px;
            font-weight: 300;
            display: none;
            color: #2777b5;
        }

        input {
            font-family: 'Exo 2';
            font-size: 14px;
            line-height: 43px;
            display: block;
            width: 60%;
            height: 100%;
            padding: 0 40px;
            color: #fff;
            border: none;
            background: transparent;
            @include media(0px, 640px) {
                width: 80%;
                padding: 0 10px;
                font-size: 12px;
            }

            &::placeholder {
                color: rgba(#fff, .5);
            }
        }

        button {
            font-family: 'Roboto';
            font-size: 16px;
            line-height: 43px;
            height: 100%;
            padding: 0 40px;
            cursor: pointer;
            text-transform: uppercase;
            color: #fff;
            border: none;
            background: transparent;
            @include media(0px, 640px) {
                padding: 0 10px;
                font-size: 14px;
            }
        }
    }
}
