.team {
    position: relative;
    padding-top: 200px;
    -webkit-box-shadow: inset 0 0 207px -12px rgba(22,30,41,1);
    -moz-box-shadow: inset 0 0 207px -12px rgba(22,30,41,1);
    box-shadow: inset 0 0 207px -12px rgba(22,30,41,1);
    background: rgba(#102538, 1);
    background: -webkit-linear-gradient(top, rgba(#122232, 1) 0%, rgba(#102538, 1) 100%);
    background: -o-linear-gradient(top, rgba(#122232, 1) 0%, rgba(#102538, 1) 100%);
    background: linear-gradient(to bottom, rgba(#122232, 1) 0%, rgba(#102538, 1) 100%);

    &-wrap {
        color: #fff;
        width: 1170px;
        margin: 0 auto;
        z-index: 4;
        position: relative;
        padding-bottom: 200px;
    }

    h2 {
        font-size: 36px;
        font-weight: 100;
        font-family: 'Montserrat';
        margin-bottom: 110px;

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 25px;
    }

    &-item {
        margin-right: calc((100% - 230px * 4)/3);
        width: 230px;
        margin-bottom: 50px;

        &:nth-child(4n) {
            margin-right: 0;
        }

        h2 {
            font-weight: 700;
            margin: 0;
        }

        &__preview {
            border-radius: 3px;
            height: 230px;
            width: 230px;
            padding: 20px 15px;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;

            h3 {
                font-size: 24px;
                font-family: 'Montserrat';
                margin: 0;
            }
        }

        h4 {
            font-size: 14px;
            font-weight: 300;
            margin: 17px;
            font-family: 'Exo 2';
        }

        span {
            font-family: 'Exo 2';
            font-size: 14px;
            font-weight: 17px;
        }
    }
}
