.team {
    position: relative;
    padding-top: 200px;
    padding-bottom: 200px;
    background: rgba(#102538, 1);
    background: -webkit-linear-gradient(top, rgba(#122232, 1) 0%, rgba(#102538, 1) 100%);
    background: -o-linear-gradient(top, rgba(#122232, 1) 0%, rgba(#102538, 1) 100%);
    background: linear-gradient(to bottom, rgba(#122232, 1) 0%, rgba(#102538, 1) 100%);
    -webkit-box-shadow: inset 0 0 207px -12px rgba(22,30,41,1);
    -moz-box-shadow: inset 0 0 207px -12px rgba(22,30,41,1);
    box-shadow: inset 0 0 207px -12px rgba(22,30,41,1);

    &-wrap {
        position: relative;
        z-index: 4;
        width: 1170px;
        max-width: 100%;
        margin: 0 auto;
        color: #fff;
        @include media(0px, 1200px) {
            padding-right: 60px;
            padding-left: 60px;
        }
        @include media(0px, 640px) {
            padding: 20px;
        }
    }

    h2 {
        font-family: 'Montserrat';
        font-size: 36px;
        font-weight: 100;
        margin-bottom: 110px;

        span {
            font-weight: 700;
        }
    }

    &-items {
        display: flex;
        width: 100%;
        padding-bottom: 25px;
        flex-wrap: wrap;
        @include media(980px, 1200px) {
            width: 856px;
            margin-right: auto;
            margin-left: auto;
        }
        @include media(640px, 980px) {
            width: 540px;
            margin-right: auto;
            margin-left: auto;
        }
        @include media(0px, 640px) {
            max-width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &-item {
        position: relative;
        width: 230px;
        margin-right: 80px;
        margin-bottom: 50px;
        border-radius: 3px;
        @include media(1200px) {
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
        @include media(980px, 1200px) {
            &:nth-child(3n) {
                margin-right: 0;
            }
        }
        @include media(0px, 980px) {
            &:nth-child(2n) {
                margin-right: 0;
            }
        }
        @include media(0px, 640px) {
            width: calc((100% - 18px) / 2);
            margin-right: 18px;
        }
        @include media(0px, 1200px) {
            &--consult {
                width: 100%;
                margin-right: 0;
            }
        }

        &:hover &__preview::after {
            opacity: 1;
        }

        &:hover &__social {
            opacity: 1;
        }

        h2 {
            font-weight: 700;
            margin: 0;
        }

        &__preview {
            position: relative;
            display: flex;
            width: 230px;
            height: 230px;
            padding: 20px 15px;
            border-radius: 3px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            align-items: center;
            justify-content: center;
            @include media(0px, 640px) {
                width: 100%;
                height: 147px;
            }

            &::after {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                display: block;
                content: '';
                transition: 0.3s;
                opacity: 0;
                border-radius: 3px;
                background: rgba(#2d9cdb, .7);
            }

            h3 {
                font-family: 'Montserrat';
                font-size: 24px;
                position: absolute;
                z-index: 4;
                bottom: 20px;
                left: 15px;
                margin: 0;
            }
        }

        &__social {
            z-index: 4;
            display: block;
            width: 50px;
            height: 50px;
            transition: 0.3s;
            text-decoration: none;
            opacity: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }

        h4 {
            font-family: 'Exo 2';
            font-size: 14px;
            font-weight: 300;
            margin: 17px;
        }

        span {
            font-family: 'Exo 2';
            font-size: 14px;
            font-weight: 17px;
        }
    }

    &-items--consult &-item {
        @include media(0px, 1200px) {
            &:nth-child(n) {
                margin-right: 80px;
            }
        }
        @include media(0px, 640px) {
            &:nth-child(n) {
                margin-right: 18px;
            }
        }
        @include media(980px, 1200px) {
            &:nth-child(3n + 1) {
                margin-right: 0;
            }
        }
        @include media(0px, 980px) {
            &:nth-child(2n + 1) {
                margin-right: 0;
            }
        }
    }
}
