* {
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: 'GothamPro';
    font-weight: 300;
    overflow-x: hidden;
    background: #0e2c49;
    // padding-top: 60px;
}

.arrow-scrolltop {
    position: fixed;
    z-index: 30;
    right: calc((100% - 1400px)/2);
    bottom: 60px;
    width: 16px;
    height: 31px;
    cursor: pointer;
    transition: 0.2s;
    opacity: 0;
    background: url('/assets/i/icon/arrow-scrolltop.png') no-repeat center;
    @include media(0px, 1400px) {
        right: 30px;
    }

    &.visible {
        opacity: 1;
    }
}
