*{
    box-sizing: border-box;
    outline: none;
}
body{
    font-weight: 300;
    font-family: "GothamPro";
    background: #0e2c49;
    overflow-x: hidden;
    // padding-top: 60px;
}

.arrow-scrolltop{
    position: fixed;
    bottom: 60px;
    right: calc((100% - 1400px)/2);
    width: 16px;
    height: 31px;
    background: url('/assets/i/icon/arrow-scrolltop.png') no-repeat center;
    z-index: 30;
    opacity: 0;
    transition: 0.2s;
    cursor: pointer;
    &.visible{
        opacity: 1;
    }
    @include media(0px, 1400px){
        right: 30px;
    }
}
