@font-face {
    font-family: "GothamPro";
    src: url("../font/GothamProLight.eot");
    src: url("../font/GothamProLight.eot?#iefix")format("embedded-opentype"), url("../font/GothamProLight.woff") format("woff"), url("../font/GothamProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: "GothamPro";
    src: url("../font/GothamProRegular.eot");
    src: url("../font/GothamProRegular.eot?#iefix")format("embedded-opentype"), url("../font/GothamProRegular.woff") format("woff"), url("../font/GothamProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: "GothamPro";
    src: url("../font/GothamProMedium.eot");
    src: url("../font/GothamProMedium.eot?#iefix")format("embedded-opentype"), url("../font/GothamProMedium.woff") format("woff"), url("../font/GothamProMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}
@font-face {
    font-family: "GothamPro";
    src: url("../font/GothamProBold.eot");
    src: url("../font/GothamProBold.eot?#iefix")format("embedded-opentype"), url("../font/GothamProBold.woff") format("woff"), url("../font/GothamProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}
@font-face {
    font-family: "GothamPro";
    src: url("../font/GothamProBlack.eot");
    src: url("../font/GothamProBlack.eot?#iefix")format("embedded-opentype"), url("../font/GothamProBlack.woff") format("woff"), url("../font/GothamProBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: 900;
}
